[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Terminal=true
Exec=bash -c /home/toad2/Desktop/appRun.sh
Name=ACE
Icon=utilities-terminal
Icon=/home/toad2/Desktop/images.jpeg
Path=/home/toad2/Desktop/
