<launch>

  <arg name="pathname" default="/media/toad/Data2/AcePipe_Data/$(arg manhole_id)" doc="path for to save the files to"/>

 
		

  <node name="pub_cam_node" pkg="camera_ros" type="pub_cam_node" output="screen"/>
  <node name="imageSub" pkg="camera_ros" type="imageSub" output="screen"> 
    <param name="~/pathname" type="string" value="$(arg pathname)"/>
  </node>

</launch>
